body {
    padding: 0;
    font-family: Helvetica, Arial, sanserif;
    font-size: 10pt;
    color: #001c00;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 2vh;
    padding: 1ex;
}

header h1 {
    font-size: 120%;
    font-weight: bold;
    margin: 0;
}

.jump-link {
    display: none;
}

main {
    position: absolute;
    top: 0;
    left: 20vw;
    width: 79vw;
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    height: 100vh;
}

aside {
    position: absolute;
    top: 2vh;
    width: 20vw;
    padding: 1ex;
    height: auto;
    overflow: auto;
    margin: 0;
}

aside>h2 {
    display: none;
}

aside h3 {
    font-size: 100%;
    font-weight: bold;
    margin: 2ex 0 1ex;
}

aside form label {
    display: block;
}

@media screen and (max-width: 60em) {

    header {
	width: 30vw;
    }
    
    main {
	left: 30vw;
	width: 70vw;
    }

    aside {
	width: 30vw;
    }
    
}

@media screen and (max-width: 50em) {

    header {
	width: 40vw;
    }
    
    main {
	left: 40vw;
	width: 60vw;
    }

    aside {
	width: 40vw;
    }
    
}

@media screen and (max-width: 40em) {
    
    header {
        position: absolute;
        top: 0;
        left: 0;
        height: 5vh;
        width: 100vw;
        padding: 1ex;
    }

    header h1 {
        float: left;
    }

    .jump-link {
        display: block;
        text-align: right;
        height: 4vh;
        padding-right: 2em; /* fixme - why does it need this? */
    }

    main {
        position: absolute;
        top: 5vh;
        left: 0;
        height: 95vh;
        width: 100vw;
    }

    #map {
        height: 95vh;
    }

    aside {
        position: absolute;
        top: 100vh;
        left: 0;
        padding: 3ex 1ex;
        height: 100vh;
        width: 100vw;
        overflow: none;
    }

    aside>h2 {
        display: inline-block;
        margin: 0;
        padding: 0;
        float: left;
    }

}
